{{- if or (eq .Values.installMode "all") (eq .Values.installMode "controller-only") }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: workload-variant-autoscaler-metrics-reader
rules:
- nonResourceURLs:
  - "/metrics"
  verbs:
  - get
{{- end }}
